<style type="text/css">
  
.holdpollholder {
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
  }

  .btninvitejoin {
  background-color: #f17100;
  color: #ffffff;
  border-radius: 0;
  border: none;
}

.tcommindex {
    color: #f17100;
    font-size: 25px;
    margin-bottom: 10px;
  }

</style>


<h5 class="tcommindex">All Blogs</h5>

 <div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="row">
            
            
        <% Blog.all.find_each do |blog| %>
          <!-- Post begin -->
            <div class="col-lg-12" style="margin-top: 20px;">
              <div class="holdpollholder">
              <div class="row no-gutters">
                <div class="col-lg-1 col-3">
                  <img src="<%= blog.user.profileimage %>" class="img-fluid" width="50px" style="border-radius: 10px;">
                </div>
                <div class="col-lg-11 col-9">
                  <span style="margin-left: 10px; color: #4A4A4A; font-size: 16px; font-weight: 500;">
                  By: <%= blog.user.name %><br>
                  <span style="font-size: 13px;">Updated at: <%= blog.updated_at %></span>
                </span>
                </div>
              </div>

              <div class="row">
                <!-- Post Body -->
                <div class="col-lg-12">
                    <img src="<%= blog.blogimage %>" class="" height="250px" width="100%" style="margin-top: 5px; margin-bottom: 20px;">
                    <h5><%= blog.title %></h5>
                </div>

                 <!-- Post Action -->
                <div class="col-lg-12">
                  <p style="text-align: right;">
                    <a href="/blogs/<%= blog.id %>" class="btn btn-primary btninvitejoin">Read Post</a>
                  </p>
                </div>

              </div>  

            </div>
            </div>
             <!-- Post end -->

             <% end %>


          
          </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
 </div>
