<p id="notice"><%= notice %></p>

<p>
  <strong>Hometitle:</strong>
  <%= @paint.hometitle %>
</p>

<p>
  <strong>Homedescription:</strong>
  <%= @paint.homedescription %>
</p>

<p>
  <strong>Sutitle:</strong>
  <%= @paint.sutitle %>
</p>

<p>
  <strong>Sudescription:</strong>
  <%= @paint.sudescription %>
</p>

<p>
  <strong>Sitext:</strong>
  <%= @paint.sitext %>
</p>

<p>
  <strong>Sidescription:</strong>
  <%= @paint.sidescription %>
</p>

<p>
  <strong>Homeimage:</strong>
  <%= @paint.homeimage %>
</p>

<p>
  <strong>Siimage:</strong>
  <%= @paint.siimage %>
</p>

<p>
  <strong>Suimage:</strong>
  <%= @paint.suimage %>
</p>

<%= link_to 'Edit', edit_paint_path(@paint) %> |
<%= link_to 'Back', paints_path %>
