<style type="text/css">
  
.homemainsect {
  background:linear-gradient(0deg,rgba(255, 138, 0,0.65),rgba(255, 138, 0,0.7)),url(https://res.cloudinary.com/nikasemo/image/upload/v1578461742/5e1569da64f16homenew_ifll2q.png);
  height: auto;
  padding-bottom: 100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.holdhomeshift {
  padding-top: 120px;
  font-family: 'Muli', sans-serif;
}

.navbackground {
  padding-top: 20px;
  padding-bottom: 20px;
}

.meffect {
  background-color: #f17100;
   -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
}

.navbar-brand1 {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}


.holdintrotextdone {
  margin-top: 100px;
}



.navbar-light .navbar-brand1{

font-weight: 700;
font-family: 'Muli', sans-serif;
}

.navbar-scroll{
color: #000; 
font-weight: 700;
font-family: 'Muli', sans-serif;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-scroll:focus, .navbar-light .navbar-scroll:hover {
  color: #343a40;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 400;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out;
    -moz-transition: border-color .5s ease-in-out;
  border-bottom: 4px solid transparent;
}

.navlinkscroll{
  color: #343a40;
  
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff;
  font-weight: 700;
  /*border-bottom-color:#f17100;*/
}

 .navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
  font-weight: 700;
  
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #ffffff;
  font-weight: 800;
  border: 2px solid #ffffff;
  padding: 7px;
  border-radius: 12px;
}

.holdhomebtn {
  background-color: #ffffff;
  color: #f17100;
  width: 300px; 
  border: 1px solid #ffffff; 
  border-radius: 4px;
  font-weight: 700;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
}

.holdintrohometext {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: #ffffff; 
  font-size: 14px; 
  line-height: 28px;
}

.welcomet {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.holdforsignup {
  background-color: rgba(255,255,255, 1);
  padding: 30px;
  border-radius: 7px;
  -webkit-box-shadow: -1px -1px 10px 1px rgba(0,0,0,0.34);
-moz-box-shadow: -1px -1px 10px 1px rgba(0,0,0,0.34);
box-shadow: -1px -1px 10px 1px rgba(0,0,0,0.34);
}

.facebookloginbtn {
  background-color: #3B5999;
  color: #ffffff;
  border-radius: 0;
  border: none;
}

.googleloginbtn {
  background-color: #DB4437;
  color: #ffffff;
  border-radius: 0;
  border: none;
}

.kuulishsignupbtn {
  background-color: #ffffff;
  color: #f17100;
  border: 2px #f17100 solid;
  border-radius: 15px;
  width: 100%;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.holdhomeshift {
  padding-top: 30px;
  font-family: 'Muli', sans-serif;
}

.welcomet {
  display: none;
}

.holdintrotextdone {
  margin-top: 40px;
}

.holdforsignup {
  margin-top: 20px;
}

}

</style>
<header>
<nav class="navbar navbar-light navbar-expand-lg fixed-top navbackground dottt" style="z-index: 9999;">
      <div class="container navbodyhold">
        <a class="navbar-brand1" href="/" style=""><img src="https://res.cloudinary.com/nikasemo/image/upload/v1577688990/KUULISH_q4gix2.png" style="height: 100%; margin-right:5px; height: 25px;"></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarResponsive">

          

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="/aboutus">
                <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right: 7px;"></i> FAQ's
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="/aboutus">
                <i class="fa fa-users" aria-hidden="true" style="margin-right: 7px;"></i> Help
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="/users/sign_in">
                <i class="fa fa-sign-in" aria-hidden="true" style="margin-right: 7px;"></i> Sign In
                <span class="sr-only">(current)</span>
              </a>
            </li>

            
            
          </ul>
        </div>
      </div>
    </nav>

</header>

    <section class="homemainsect">
      <div class="container">
        <div class="row holdhomeshift">
          <div class="col-lg-5">
          <div class="holdintrotextdone">
            <h1 class="welcomet" style="color: #ffffff;">Welcome Back!</h1><br>
            <p style="" class="holdintrohometext">
             Welcome back to the kuul-side. Sign in to find out what's new, fun and most importantly cool! Your kids will be shocked you know what's up - don't tell them your secret!
            </p>
            <br>
            
            <p style="color: white; font-size: 16px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);">
              Not a member? Click <a style="color: white;" href="/users/sign_up"><u>here</u></a> to join
            </p>
          </div>
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-5">
          <div class="holdforsignup">

            <p>
              <a href="/users/auth/google_oauth2" class="btn btn-primary btn-lg googleloginbtn" style="width: 100%;">Continue with Google</a><br>
              <a href="/users/auth/facebook" class="btn btn-primary btn-lg facebookloginbtn" style="width: 100%; margin-top: 20px;">Continue with Facebook</a>
            </p>

            <p style="text-align: center; color: #4a4a4a; font-size: 20px;">OR</p>
            <p style="color: #f17100; text-align: center; font-size: 14px; font-weight: 600;">Sign up with your Email and Password</p>
            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="form-group">
              <label style="color: #f17100; font-size: 14px;">Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder => "Your Email" %>
            </div>

            <div class="form-group">
              <label style="color: #f17100; font-size: 14px;">Password</label>
              <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder => "Your Password" %>
            </div>

             <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="form-group" style="margin-top: 40px;">
              <%= f.submit "Sign In", :class => "btn-primary btn-lg kuulishsignupbtn" %>
            </div>
          <% end %>

          

          </div>
        </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
$(window).scroll(function () {
        if ($(window).scrollTop() > 50) {
            $(".navbackground").addClass('meffect');
            
        } else {
            $(".navbackground").removeClass('meffect');
        }
    });

    </script>